/*
 * All anchors should be displayed as links, even if they don't have a href
 * attribute.
 */

a {
    cursor: pointer;
    text-decoration: underline;
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    width: 0;
    margin: 0;
    vertical-align: middle;
}

#template_content {
    background-color: white;
    color: black;
}

.content {
    background-color: white;
    /*border: 1px solid black;*/
    margin: 1em;
    padding: 1em;
}

.visible-on-hover {
    visibility: hidden;
}

li:hover .visible-on-hover {
    visibility: visible;
}

