div.aligned div.group {
    padding: 0.5em;
    width: auto;
}

div.aligned div.group label {
    text-align: right;
    display: block;
    width: 100%;
    padding-right: 0.5em;
}

div.aligned div.group label > input, div.aligned div.group label > textarea {
    width: 30%;
    margin-right: 0;
}

div.aligned div.controls {
    padding: 0.5em;
    text-align: right;
}

button, input, select, textarea {
    padding: 0.5em;
}

button {
}

.button-box {
    text-align: right;
}

span.disabled {
}

