/*
 * Modal dialogs hide all content on the screen.
 */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}

.modal-dialog {
    overflow: auto;
    position: fixed;
    top: 10%;
    max-height: 70%;
    /*left: 50%;*/
    left: 20%;
    right: 20%;
    width: auto;
    z-index: 1050;
    /*width: 560px;*/
    /*margin-left: -280px;*/
    background-clip: padding-box;
}

.modal-button-box {
    text-align: right;
    /*position: fixed;
    top: 80%;*/
    left: 20%;
    right: 20%;
    width: auto;
    z-index: 1050;
    /*width: 560px;*/
    /*margin-left: -280px;*/
}

.modal-help-button {
    border: none;
    float: right;
    margin: 2px;
}
